name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    name: "Run automated lints"
    runs-on: "ubuntu-latest"
    env:
      FLOX_DISABLE_METRICS: true
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install Flox"
        uses: "flox/install-flox-action@v2"

      - name: "Test"
        uses: "flox/activate-action@v1"
        with:
          command: just lint

  test:
    name: "Run automated tests"
    runs-on: "ubuntu-latest"
    env:
      FLOX_DISABLE_METRICS: true
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v4"

      - name: "Install Flox"
        uses: "flox/install-flox-action@v2"

      - name: "Test"
        uses: "flox/activate-action@v1"
        with:
          command: just test
